.menuItem {
  list-style: none;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  float: right;
  margin-top: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  float: right;
  margin-top: 5px;
}

.menuItem ul {
  list-style: none;
  background: #780202;
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  z-index: 999;
  position: absolute;
}

.menuItem ul li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  display: block;
}

.menuItem ul li a:hover {
  text-decoration: underline;
}
.menu-btn {
  width: 200px;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  cursor: pointer;
}
